In [2]:
import numpy as np
import pandas as pd

# 1. How likely is it that you roll doubles when rolling two dice?

In [65]:
n_simulations = nrows = 10**5
n_dice_rolled = ncols = 2

choice = [1,2,3,4,5,6]
rolls = np.random.choice(choice, nrows * ncols).reshape(nrows, ncols)

rolls_df = pd.DataFrame(rolls)
print(rolls_df.apply(lambda row: row[0] == row[1], axis=1).mean())

       0  1
0      4  2
1      6  6
2      6  1
3      2  5
4      6  3
...   .. ..
99995  5  2
99996  1  1
99997  6  4
99998  3  5
99999  6  2

[100000 rows x 2 columns]
0.16907

# 2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [32]:
def count_heads(flip_list):
    count = 0
    for coin in flip_list:
        if coin == 'Heads':
            count += 1
    return count

In [118]:
n_simulations = nrows = 10**5
n_coin_flipped = ncols = 8

choice = ['Tails','Heads']
flips = np.random.choice(choice, nrows * ncols).reshape(nrows, ncols)

flips_df = pd.DataFrame(flips)
print(flips_df.apply(lambda row: count_heads(row) == 3, axis=1).mean())

0.22051

In [36]:
print(flips_df.apply(lambda row: count_heads(row) >= 3, axis=1).mean())

0.8557

# 3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [86]:
n_simulations = nrows = 10**5
n_billboards = ncols = 2

choice = ["Web Dev","Data Science"]
billboards = np.random.choice(choice, nrows * ncols, p = [.75,.25]).reshape(nrows, ncols)

billboards_df = pd.DataFrame(billboards)
print(billboards_df.apply(lambda row: row[0] == row[1] == 'Data Science', axis=1).mean())

0.06223

# 4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [83]:
n_simulations = nrows1 = 10**5
n_poptarts = ncols2 = 1

choices = np.random.uniform(1.5,4.5, nrows1 * ncols2)
choices = np.around(choices, 0)

n_simulations = nrows = 10**5
n_days = ncols = 5

weekly_poptarts = np.random.choice(choices, nrows * ncols).reshape(nrows, ncols)
weekly_poptarts_df = pd.DataFrame(weekly_poptarts)

print(weekly_poptarts_df.apply(lambda row: sum(row) <= 16, axis=1).mean())

0.78776

# 5. Compare Heights
Men have an average height of 178 cm and standard deviation of 8cm.
Women have a mean of 170, sd = 6cm.

### If a man and woman are chosen at random, P(woman taller than man)?

In [140]:
n_simulations = nrows = 10**5
n_people = ncols = 1

men = np.random.normal(178,8, nrows * ncols)
women = np.random.normal(170,6, nrows * ncols)

men_df = pd.DataFrame(men)
women_df = pd.DataFrame(women)

both = pd.concat([men_df, women_df], ignore_index = True, axis=1)
print(both)
#print(both.apply(lambda row: row[0] == row[1], axis=1).mean())

                0           1
0      183.614465  163.774341
1      182.877985  165.600899
2      172.897103  172.187587
3      174.628136  162.941379
4      169.597895  164.761635
...           ...         ...
99995  179.427062  171.337843
99996  184.065272  177.107839
99997  178.028966  171.838023
99998  184.890653  166.215708
99999  177.730428  169.767124

[100000 rows x 2 columns]

# 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue?

In [112]:
n_simulations = nrows = 10**5
n_downloads = ncols = 50

#0 not corrupt, 1 is corrupt
choice = [0, 1]
corruption = np.random.choice(choice, nrows * ncols, p = [.996,.004]).reshape(nrows, ncols)

corruption_df = pd.DataFrame(corruption)

print(corruption_df.apply(lambda row: sum(row) == 0, axis=1).mean())

0.82008

### 100 students?

In [113]:
n_simulations = nrows = 10**5
n_downloads = ncols = 100

#0 not corrupt, 1 is corrupt
choice = [0, 1]
corruption = np.random.choice(choice, nrows * ncols, p = [.996,.004]).reshape(nrows, ncols)

corruption_df = pd.DataFrame(corruption)

print(corruption_df.apply(lambda row: sum(row) == 0, axis=1).mean())

0.66964

### What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [114]:
n_simulations = nrows = 10**5
n_downloads = ncols = 150

#0 not corrupt, 1 is corrupt
choice = [0, 1]
corruption = np.random.choice(choice, nrows * ncols, p = [.996,.004]).reshape(nrows, ncols)

corruption_df = pd.DataFrame(corruption)

print(corruption_df.apply(lambda row: sum(row) >= 1, axis=1).mean())

0.44949

### How likely is it that 450 students all download anaconda without an issue?

In [115]:
n_simulations = nrows = 10**5
n_downloads = ncols = 450

#0 not corrupt, 1 is corrupt
choice = [0, 1]
corruption = np.random.choice(choice, nrows * ncols, p = [.996,.004]).reshape(nrows, ncols)

corruption_df = pd.DataFrame(corruption)

print(corruption_df.apply(lambda row: sum(row) == 0, axis=1).mean())

0.16681

# 7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

In [116]:
n_simulations = nrows = 10**5
n_days = ncols = 3

#0 no food truck, 1 is food truck
choice = [0, 1]
foodtruck = np.random.choice(choice, nrows * ncols, p = [.3,.7]).reshape(nrows, ncols)

foodtruck_df = pd.DataFrame(foodtruck)

print(foodtruck_df.apply(lambda row: sum(row) == 0, axis=1).mean())

0.02754

### How likely is it that a food truck will show up sometime this week?

In [117]:
n_simulations = nrows = 10**5
n_days = ncols = 7

#0 no food truck, 1 is food truck
choice = [0, 1]
foodtruck = np.random.choice(choice, nrows * ncols, p = [.3,.7]).reshape(nrows, ncols)

foodtruck_df = pd.DataFrame(foodtruck)

print(foodtruck_df.apply(lambda row: sum(row) >= 1, axis=1).mean())

0.99982

# 8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [92]:
def same_birthday(bday_df):

    for x in bday_df:
        if bday_df.count('x') > 1:
            
    return count

In [99]:
n_simulations = nrows = 10**5
n_ppl = ncols = 23

birth_days = np.random.randint(1,366, nrows * ncols).reshape(nrows, ncols)
birth_days_df = pd.DataFrame(birth_days)

birth_days_df.value_counts()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,198,70,13,307,267,217,12,124,215,168,...,278,186,71,56,123,153,214,178,141,9
1,333,105,98,355,288,251,203,163,280,29,...,360,92,12,299,260,184,282,252,180,257
2,221,118,54,19,259,81,206,283,24,350,...,25,86,18,106,21,128,32,343,320,349
3,136,248,101,224,170,317,167,298,240,83,...,345,200,207,291,2,165,19,356,279,356
4,284,108,60,307,292,337,328,280,156,37,...,331,69,146,11,216,56,249,356,111,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,244,208,239,285,147,124,246,149,11,241,...,303,104,286,102,104,57,340,289,75,113
99996,149,297,271,139,88,280,72,21,162,349,...,230,147,355,184,149,5,64,125,109,336
99997,273,71,318,1,231,244,190,318,97,224,...,120,346,80,134,73,114,21,123,210,354
99998,52,320,36,229,314,209,175,348,242,75,...,350,33,249,304,15,230,160,268,152,31
99999,310,312,182,105,156,100,11,121,288,303,...,296,300,55,208,144,41,122,193,126,147